/* ////////////////////////////////////////////// */

/* solution.html */

.list-item {
  color: blue;
}

h1 {
  background-color: violet;
  opacity: 0.9;
}

.heading {
  color: red;
}

#forgettable {
  background-color: darkgreen;
  opacity: 0.9;
}
