/* ////////////////////////////////////////////// */

/* solution.html */

.list-item {
  color: blue;
}

h1 {
  background-color: violet;
  opacity: 0.9;
}

.heading {
  color: red;
}

#forgettable {
  background-color: darkgreen;
  opacity: 0.9;
}

/* ////////////////////////////////////////////// */

/* index3.html */

#red,
.red {
  color: blue;
  font-size: 100px;
}

#title {
  font-size: 20px;
  color: blue;
}

#blue {
  color: blue;
  font-size: 100px;
}

.first,
.second,
.third {
  background-color: lime;
}
