:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: -apple-system, "Montserrat", sans-serif;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

main {
  margin: 0 auto;
  /* border: 1px solid rgba(60, 30, 233, 0.9); */
}

header {
  width: 100wh;
  padding: 1rem 0.9rem;
  background-color: rgb(53, 58, 64);
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.box {
  width: 48%;
  height: 100vh;
  display: inline-block;
  vertical-align: middle;
  /* border: 1px solid rgba(203, 233, 30, 0.9); */
}

.norm-form {
  margin: 1rem 0 0 1rem;
  vertical-align: bottom;
  /* border: 1px solid rgba(60, 30, 233, 0.9); */
}

legend {
  margin: 0 0.2rem 1rem 0.3rem;
  padding: 0 1rem 0 1rem;
  font-weight: 700;
  color: rgb(55, 102, 184);
  font-size: 1.2rem;
}

.label {
  margin: 2rem 0rem 1rem 0.6rem;
  font-weight: 700;
}

.norm-form-field,
.products {
  padding-right: 2rem;
  /* border: 1px solid rgba(0, 0, 0, 0.999); */
}

.input,
textarea {
  display: block;
  margin: 0.3rem 0rem 1rem 0.6rem;
  padding: 0.5rem 0rem 0.5rem 0;
}

.input,
textarea,
.data {
  width: 100%;
}

.radio,
.webdev {
  padding: 0.5rem 0 1rem 0.6rem;
}

#radio-template {
  margin-left: 0.8rem;
}

.data {
  margin: 0.6rem 0rem 1rem 0.6rem;
  width: 100%;
}

input[type^="button"] {
  width: 12rem;
  padding: 1rem 0;
  border-radius: 10px;
  color: white;
  background-color: rgb(9, 170, 22);
  font-size: 1rem;
  margin-top: 1.8rem;
}
