:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: -apple-system;
  border: 1px solid rgba(60, 30, 233, 0.4);
}

header {
  width: 100wh;
  text-align: left;
  padding: 1rem 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 58, 64);
  font-size: 1.25rem;
  font-weight: 500;
}

.box {
  display: table-cell;
}

.personal-data,
.products-data {
  width: 25%;
  padding: 1rem 0.5rem 0 1rem;
}

.personal-data .stuff {
  padding: 0 2rem 1.5rem 0;
  border: 1px solid black;
}

.stuff legend {
  padding: 0 0.7rem;
  margin: 0 1rem;
  font-weight: 700;
  color: rgb(55, 102, 184);
  font-size: 1.2rem;
}

.stuff label {
  display: block;
  padding: 1rem 0 0.5rem 1rem;
  font-weight: 700;
}

.stuff input {
  padding: 0.4rem 3rem;
  width: 100%;
  margin-left: 1rem;
}

.stuff textarea {
  padding: 0rem 0.2rem;
  margin-left: 1rem;
  height: 6rem;
  width: 100%;
  font-family: monospace;
  line-height: 1.4rem;
}

.products-data .stuff {
  border: 1px solid black;
}

.stuff .web-design {
  /* position: relative; */
}

.web-design input {
  /* margin: 0 0 0 -16.7rem; */
  /* margin-left: -17rem; */
}

/* .web-design label {
    padding: 0 6rem;
    font-weight: 400;
  } */
